<!DOCTYPE html>
<html>
    <head>
        <style>
            form {
                background-color: #eee;
                padding: 20px;
                margin: 0 auto;
                width: 540px;
                font: 16px sans-serif;
                border-radius: 10px;
            }
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
            #left-alligned {align-content: flex-start}
            #right-alligned {align-content: flex-end }
        </style>
    </head>
    <body>
            <header>
                    <div class="left-alligned"><a href="/"><p class="small_font">Main Page</a>&nbsp|&nbsp<a href="/newpost">New Blog Post</p></a></div>
            <div class="right-aligned"><p class="small_font"><a href="/login">Login</a>&nbsp
                |&nbsp<a href="logout">Logoff</a>&nbsp|&nbsp<a href="blog_posts">All Posts</a></p></div>

            </header>
            {% block content %}
            {% endblock %}
    </body>
</html>
